@media only screen and (max-width: 1200px) {
  .welcome__wrap__item {
     width: 100%;
  }
  .welcome__wrap__item figure {
    top: 0;
    text-align: center;
  }
  .apartments__slider .flex-direction-nav {
    left: 57%;
  }
  .rostov__wrapper__item {
    width: 100%;
    border-right: none;
  }
  .rostov__wrapper__item .img-2 {
    text-align: center;
  }
  .rostov__wrapper__item:last-child {
    border-right: none;
    border-left: none;
  }
  .rostov__wrapper__item__img {
    text-align: center;
  }
  .rostov__wrapper__item__content h2 {
    margin: 0 auto;
  }
  .rostov__wrapper__item__content {
   text-align: center;
  }
  .rostov__wrapper__item__content button{
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 992px) {
  .apartments__slider__text {
    width: 100%;
  }
  .apartments__slider .flex-direction-nav {
    top: calc(28% - 105px);
  }

}
@media only screen and (max-width: 770px) {
  .header__nav button {
    margin-right: 0;
  }
  .about__wrapper img {
    width: 100%;
  }
  .about__wrapper address {
    width: 100%;
  }
  .about__wrapper__contacts {
    text-align: left;
    width: 100%;
  }
  .header__nav__menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
    background: #fff;
    left: 0;
    z-index: 6;
    margin-left: 0;
    background: rgba(255, 192, 60, 0.7);
    ul{
      width: 100%;
      margin: 0;
      top: 30%;
      position: absolute;
      li{
        width: 100%;
        text-align: center;
        a{
          width: 100%;
          display: block;
          &:hover{
            border-bottom: 3px solid #fff;
          }
        }
      }
    }
  }
  .header__nav__menu {
    display: none;
  }
  .header__nav button, .header__nav button:after {
    width: 100%;
  }
  .header__nav{
    position: relative;
  }
  .header__nav__contact {
    width: 100%;
    text-align: center;
  }
  .header__middle-content {
    width: 100%;
  }
  .header__middle-content__text p {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .header__middle-content:before{
    display: none;
  }
  .header__middle-content {
    width: 100%;
    height: auto;
    float: left;
    margin: 72px auto 20px auto;
  }
  .header__middle-content__icon {
    display: none;
  }
  .header__middle-content__text ul {
    padding: 0;
    margin-left: 37px;
    padding-bottom: 20px;
  }
  .header__form h1 {
    text-align: center;
    font-size: 34px;
  }
  .header__form__wrapper {
    width: 100%;
    padding: 0;
  }
  .header__form {
    width: 100%;
    height: auto;
    padding: 0 10px;
    bottom: 0;
    margin-bottom: 30px;
  }
  .header__form__wrapper__input-right {
    margin-left: 0;
    margin-right:0;
  }
  .header__form__wrapper__input-right-button, .header__form__wrapper__input-right-button button {
    margin: 0 0 30px 0;
  }
  .why-hostel {
    padding-top: 0;
  }
  .why-hostel__wrapper {
    display: block;
    position: relative;
  }
  .why-hostel__border {
    display: none;
  }
  .rostov__wrapper__item img {
    width: 100%;
  }
  .rostov__wrapper__item {
    width: 100%;
    border-right: none;
    text-align: left;
  }
  .rostov__wrapper__item__content {
    width: 100%;
    padding-left: 0;
  }
  .rostov__wrapper__item__content h2 {
    width: 100%;
    text-align: center;
    height: auto;
  }
  .rostov__wrapper__item__content ul li {
    font-size: 100%;
    line-height: 75px;
  }
  .rostov__wrapper__item__content button{
    margin-bottom: 30px;
  }
  .rostov__wrapper__item:last-child {
    border-right: none;
    border-left: none;
  }
  .apartments h1 {
    margin-top: 0;
  }
  .welcome__wrap__item {
    width: 100%;
  }
  .welcome__wrap__item figure {
    top: 0;
    img{
      width: 100%;
    }
  }
  .welcome__wrap__item p {
    padding: 0;
  }
  .welcome__wrap__item h2 {
    font-size: 31px;
    text-align: center;
  }
  .reviews .owl-prev {
    margin-left: 0;
    top: 20px;
  }
  .reviews .owl-next {
    margin-top: 20px;
    right: 0;
  }
  .stock__absolute {
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .stock__text {
    width: 100%;
    right: 0;
    bottom: 0;
  }
  .stock__text button img {
    display: none;
  }
  .stock__text p {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .stock__text button {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contact__map-left {
    width: 100%;
  }
  .contact__map-right {
    display: none;
  }
  .contact__data {
    top: 25%;
    left: 0;
  }
  .contact__data:before {
    display: none;
  }
  .contact__data {
    width: 100%;
    height: 200px;
    top: 25%;
    left: 0;
    padding-left: 15px;
  }
  .footer p {
    text-align: left;
  }
  .footer a img {
    width: 150px;
  }
}

@media only screen and (max-width: 736px) {

}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {

}