.contacts-page {
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 50px 0;
    &__img {
      @include breakpoint(max-width 820px) {
        width: 100%;
      }
      width: 50%;
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }
    &__text {
      @include breakpoint(max-width 820px) {
        width: 100%;
      }
      width: 50%;
      padding-top: 20px;
      .about__wrapper {
        @include breakpoint(max-width 600px) {
          padding-left: 0;
        }
        padding-left: 40px;
        padding-top: 0;
        width: 100%;
      }
    }
  }
}